*.log
.DS_Store
.env
.env*
/vendor/
/node_modules/
/storage/
/public/storage
/bootstrap/cache/
/database/*.sqlite
/database/*.sqlite3
/database/migrations/*.php~
/database/factories/*.php~
/database/seeders/*.php~
/test-results/
/*.log
/*.lock
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/composer.phar
/composer.lock
/package-lock.json
/public/hot
/public/build
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js
/public/js/app.js.map
/public/css/app.css.map
/public/favicon.ico
/public/robots.txt
/public/index.php
/public/.htaccess
/public/storage/
/resources/sass/
/resources/js/
/resources/css/
/resources/views/
/app/Http/Middleware/
/app/Console/Kernel.php
/app/Providers/
/app/Exceptions/
/app/Models/
/app/Livewire/
/app/Http/Controllers/
/app/Http/Requests/
/bootstrap/app.php
/bootstrap/providers.php
/bootstrap/cache/
/config/
/routes/
/tests/
/phpunit.xml
/phpstan.neon
/stylelint.config.cjs
/vite.config.js
/README.md
/artisan
/playwright.spec.js
/docs/
# IDE files
.idea/
.vscode/
.DS_Store
Thumbs.db
.phpdoc/cache/
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
