/**
 * MYDS Component Style: Skip Link (Accessibility)
 * ================================================
 * Styles for the "Skip to main content" link, crucial for keyboard navigation.
 *
 */
@layer components {
  .myds-skip-link {
    @apply absolute p-4 rounded-md bg-white text-txt-black-900 shadow-context-menu z-[1000] transition-all;

    left: -9999px;
    top: -9999px;
  }

  .myds-skip-link:focus {
    @apply ring-2 ring-offset-2 ring-fr-primary;

    left: 1rem;
    top: 1rem;
  }
}
